<nav class="navbar navbar-expand-md navbar-light bg-lignt nav-header sidebarNavigation ms-0 me-0 padding-left fix-header-on-top"
    data-sidebarClass="navbar-light bg-light">

    <div class="sidenav">
        <div id="nav_profile_image" class="display d-flex justify-content-center align-items-center">
            <a href="#" id="nav_profile_image_button" class="display d-flex justify-content-center align-items-center">
                <div id="uploadProfilePhoto" class="d-flex flex-column justify-content-center align-items-center">
                    <!-- <form id="formUploadProfilePhoto" method="post" enctype="multipart/form-data">
                        <input id="inputProfilePhoto" type="file" accept="image/*" name="profileImage"
                            (change)="onFileUpload($event)" />
                    </form> -->
                    <!-- src="<?php echo $userProfileImage ?>" -->
                    <img id="default_profile_avatar" style="width: 150px; height: 150px; object-fit: cover;"
                        [src]="$userProfileImage">
                    <!-- <img id="default_profile_avatar"> -->
                </div>
            </a>
        </div>
        <div id="nav_username" class="display">
            <!-- <?php echo $_USERNAME; ?> -->
            <h3 id="username">{{$_USER_NAME}}</h3>
            <!-- <h3 id="username">Pashka kakaska</h3> -->
        </div>
        <a href="javascript:void(0)" class="closebtn" (click)="closeOverlaySide()">&times;</a>
        <div id="nav_menu_options" class="display">
            <a class="display menu_button">
                <div id="news" class="display" (click)="showItem('news')">
                    <img src="assets/icons/news.png" width="22" height="17.6" class="opts">
                    <span class="opts">News</span>
                </div>
            </a>
            <!-- <a class="display menu_button" (click)="showConversations()"></a> -->
            <a class="display menu_button" (click)="showItem('conversations')">
                <div id="news" class="display">
                    <img src="assets/icons/conversations.png" width="22" height="17.6" class="opts">
                    <span class="opts">Conversations</span>
                </div>
            </a>
            <!-- (click)="showItem('friends')" -->
            <a class="display menu_button" (click)="showItem('friends')">
                <div id="news" class="display">
                    <img src="assets/icons/friends.png" width="22" height="17.6" class="opts">
                    <span class="opts">Friends</span>
                </div>
            </a>
            <a class="display menu_button" (click)="showItem('groups')">
                <div id="news" class="display">
                    <img src="assets/icons/groups.png" width="22" height="17.6" class="opts">
                    <span class="opts">Groups</span>
                </div>
            </a>
            <a class="display menu_button" (click)="showItem('photos')">
                <div id="news" class="display">
                    <img src="assets/icons/photos.png" width="22" height="17.6" class="opts">
                    <span class="opts">Photos</span>
                </div>
            </a>
            <a class="display menu_button" (click)="showItem('settings')">
                <div id="news" class="display">
                    <img src="assets/icons/settings.png" width="22" height="17.6" class="opts">
                    <span class="opts">Settings</span>
                </div>
            </a>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center cancel-margins align-left">
        <div class="row w-100">
            <div class="col-3 d-flex justify-end pe-0 cancel-margins margin-left-logo">
                <!-- background-color: #212121; -->
                <button id="burgerBtn" class="navbar-toggler leftNavbarToggler" (click)="openOverlaySide()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand d-flex" href="/home" (click)="goToMain()">
                    <div id="logo_background">
                        <img id="logo_img" src="assets/img/logo_icon.png">
                    </div>
                    <h2 id="logo_h2" class="d-flex justify-content-center align-content-center m-0 mt-1">StudenBook</h2>
                </a>
            </div>
            <div class="col-8 d-flex hide-desktop-menu">

                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarsExampleDefault">
                    <div class="d-flex">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2 w-100" id="search_bar" type="search" name="search_bar"
                                [(ngModel)]="this.searchText.$_SEARCH_TEXT" (keyup)="onKeydownSearch($event)"
                                (keydown.enter)=onKeydown($event) (search)="clearSearch($event)"
                                placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome"
                                aria-label="Search">
                            <div class="search-result" *ngFor="let result of results$ | async"></div>
                        </form>

                        <div class="block_notification">
                            <a id="notification_button" class="display" (click)="showNotificationContainer()">
                                <img id="notification_icon" src="assets/img/notification_icon.png">
                            </a>
                            <div *ngIf="$_NOTIF_COUNT > 0" class="notif_count display" id="notif_countDiv">
                                {{$_NOTIF_COUNT}}
                            </div>
                        </div>
                        <div id="notification_container" class='zona_notificari'>
                            <div *ngIf="$_NOTIF_COUNT == -1" class="p-2">
                                You do not have notifications
                            </div>
                            <div style="display: flex; flex-direction: column; padding: 7px;"
                                *ngFor="let notif of $_NOTIF_LIST">
                                <div id="{{'friendship_req_btn' + notif.spec_num_notif}}">
                                    <div
                                        style="width: 100; text-align: center; border-bottom: 1px solid gray; padding-bottom: 5px;">
                                        Friendship request
                                    </div>
                                    <div
                                        style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-top: 10px; margin-bottom: 10px;">
                                        <div style="display: flex;"
                                            class="h-100 d-flex justify-content-center align-content-center">
                                            <div class="d-flex flex-column justify-content-center align-content-center">
                                                <img src="{{$_API_HOST}}/api/{{notif.Avatar_Path}}" height="35"
                                                    width="35">
                                            </div>
                                            <div style="margin-left: 10px;">
                                                <div>{{notif.Surname}} {{notif.Name}}</div>
                                                <div>{{notif.Name_City}}, {{notif.Name_Country}}</div>
                                            </div>
                                        </div>
                                        <div style="display: flex; flex-direction: column; align-items: center;">
                                            <div>
                                                <button type="button" class="btn btn-success mb-2"
                                                    (click)="acceptFriendship(notif.ID, true, notif)"
                                                    style="width: 80px;">Accept</button>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-danger"
                                                    (click)="acceptFriendship(notif.ID, false, notif)"
                                                    style="width: 80px;">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- mr-auto -->
               
                <div class="option-for-desktop d-flex align-items-center">
                    <img src="assets/img/user_icon.png" height="35" width="35">
                    <img src="assets/img/down_arrow_login.png" height="15" width="20">
                </div>
                <a class="nav-link">
                    <button type="button" style="max-height: 50px;" class="btn btn-danger">Sign out</button>
                </a>
            </div>
        </div>
    </div>
</nav>