<!-- <div id="what_new_container" class="display"> -->
    <!-- <div id="left_side_p" class="display">
        <img src="assets/img/Studentbook_avatar.png" width="30" height="30">
        <input id="input_post" type="text" name="what_is_new" placeholder="What is new?">
    </div>
    
    <div id="right_side_p" class="display">
        <a id="post_photo" href="#">
            <img src="assets/img/camera_icon_s.png" width="30" height="24">
        </a>
    </div> -->

    <form class="w-100">
        <div id="whatIsNewDiv" class="w-100 d-flex justify-content-center">
            <input type="text" class="form-control col-11 col-md-12" id="whatIsNew" aria-describedby="whatIsNew" placeholder="What is new?">
        </div>
    </form>
<!-- </div> -->