<footer class="display">
    <div class="display border-line">
        <div id="footer-line"></div>
    </div>
    <div id="footer-text" class="display">
        <div class="footer-elem">
            Copyright © 2021 StudenBook.com
        </div>
        <div id="footer-menu" class="display">
            <div class="footer-elem footer-child">
                Support
            </div>
            <div class="footer-elem footer-child">
                About us
            </div>
        </div>
    </div>
</footer>