<div  class="d-flex flex-column justify-content-center">
    <div id="stories_label" class="display col-11 mt-3 pl-md-0">
        Stories
    </div>
    <div id="stories_list" class="display col-11 mt-3 pl-md-0">
        <div id="add_story" class="display">
            <div id="plus_button" class="display">
                <img src="assets/img/plus_button.png" height="40" width="40">
                <div id="pbp">
                    Story
                </div>
            </div>
        </div>
    </div>
</div>