<div id="nav_menu_options" class="display">
    <a class="display menu_button">
        <div id="news" class="display" (click)="showItem('news')">
            <img src="assets/icons/news.png" width="22" height="17.6" class="opts">
            <span class="opts">News</span>
        </div>
    </a>
    <!-- <a class="display menu_button" (click)="showConversations()"></a> -->
    <a class="display menu_button" (click)="showItem('conversations')">
        <div id="news" class="display">
            <img src="assets/icons/conversations.png" width="22" height="17.6" class="opts">
            <span class="opts">Conversations</span>
        </div>
    </a>
    <!-- (click)="showItem('friends')" -->
    <a class="display menu_button" (click)="showItem('friends')">
        <div id="news" class="display">
            <img src="assets/icons/friends.png" width="22" height="17.6" class="opts">
            <span class="opts">Friends</span>
        </div>
    </a>
    <a class="display menu_button" (click)="showItem('groups')">
        <div id="news" class="display">
            <img src="assets/icons/groups.png" width="22" height="17.6" class="opts">
            <span class="opts">Groups</span>
        </div>
    </a>
    <a class="display menu_button" (click)="showItem('photos')">
        <div id="news" class="display">
            <img src="assets/icons/photos.png" width="22" height="17.6" class="opts">
            <span class="opts">Photos</span>
        </div>
    </a>
    <a class="display menu_button" (click)="showItem('settings')">
        <div id="news" class="display">
            <img src="assets/icons/settings.png" width="22" height="17.6" class="opts">
            <span class="opts">Settings</span>
        </div>
    </a>
</div>