<div id="aside_menu_container" class="display">
    <div id="aside_menu" class="display">
        <div id="a_nav_menu" class="display">
            <div class="display am">
                <div class="am_ref display">
                    <div class="am_content display" onclick="AsideMenu(this.id)">
                        News
                    </div>
                </div>
            </div>
            <div class="display am">
                <div class="am_ref display">
                    <div class="am_content display" onclick="AsideMenu(this.id)">
                        Photos
                    </div>
                </div>
            </div>
            <div class="display am">
                <div class="am_ref display">
                    <div class="am_content display" onclick="AsideMenu(this.id)">
                        Videos
                    </div>
                </div>
            </div>
            <div class="display am">
                <div class="am_ref display">
                    <div class="am_content display" onclick="AsideMenu(this.id)">
                        Comments
                    </div>
                </div>
            </div>
            <div class="display am">
                <div class="am_ref display">
                    <div class="am_content display" onclick="AsideMenu(this.id)">
                        Posts
                    </div>
                </div>
            </div>
            <div id="a_nav_bor_l"></div>
            <!-- <div class="display am">
                <div class="am_ref display">
                    <div class="am_content display" onclick="AsideMenu(this.id)">
                        Search students
                    </div>
                </div>
            </div>
            <div class="display am">
                <div class="am_ref display">
                    <div class="am_content display" onclick="AsideMenu(this.id)">
                        Search scolarchildren
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>