#nav_profile_image {

    margin-top: 25px; 
   justify-content: center;
}

#inputProfilePhoto {

	display: none;
}

#default_profile_avatar {
	width: 150px;
	height: 150px;
}

#nav_username {
	justify-content: center;
}

h3#username {
	text-align: center;
}

